div.container {
  margin: 0;
  border: 1px solid black;
}

.container>div {
  box-sizing: border-box;
  padding: 20px;
  margin: 15px;
}

.c1 {
  width: 150px;
  height: 120px;
  border: 1px solid #f00;
  /*padding: 20px;*/
}

.c2 {
  width: 150px;
  height: 100px;
  border: 1px solid #f00;
  /*padding: 20px;*/
}

.c3 {
  width: 150px;
  height: 40px;
  border: 1px solid #f00;
  /*padding: 20px;*/
}

.c4 {
  width: 150px;
  height: 200px;
  border: 1px solid #0f0;
  /*padding: 20px;*/
}

@media screen and (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width:640px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  /*.c1 {
    order:1;
  }
  .c2 {
    order:2;
  }
  .c3 {
    order:3;
  }*/
  .c4 {
    order: -1;
  }
}