body{
  margin-top:80px;
}
.singer{
  opacity: 0.8
}
div.progress{
  margin-top: 10px;
}

div.control>h2 {
  margin-bottom: 100px;
}
div.small>div>span.glyphicon {
  opacity: 0.5;
  font-size: 1.2em;
}
div.big>div>span.glyphicon{
  font-size: 1.8em;
}

@keyframes rot {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}

img.img-circle{
  /*animation-name: rot;*/
  position: relative;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
