div.row{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
div.timeline {
  width: 100%;
  height: 10px;
  border: 1px solid black;
  background-color: grey;
}
div.big {
  width: 100px;
  height: 100px;
}
div.conver>img{
  
}
