body {
  padding: 0;
  margin: 0;
  background-color: #DEDEDE;
}
header {
  height: 10%;
  width: 100%;
  background-color: #333333;
  display: inline-block;
}
header>h1 {
  display: inline;
  color: #ffffff;
}
header>ul {
  float: right;
}
header>ul>li{
  display: inline;
  margin-right: 4px;
  text-align: center;
}
header>ul>li a {
  text-decoration: none;
  color: #ffffff;
}
header>ul>li a:hover {
  color: #9BA6AC;
}
article {
  background-color: #ffffff;
  box-shadow:1px 1px 2px 1px #848484;
  margin: 10px;
  padding: 15px;
}
article>h3,h4 {
  color: #DEDEDE;
}
article>p>a:hover {
  color:red;
}
article>ul {
  list-style: none;
}
.img>div {
  text-align: center;
  border: 1px solid black;
  width: 300px;
  margin-bottom: 15px;
}
.last>table {
  width: 100%;
  border-collapse: collapse;
}
.last table tbody tr th {
  background-color: blue;
  color: #ffffff;
}
.last table tbody>tr:last-child {
  background-color: #ccc;
}
nav {
  background-color: #ffffff;
  box-shadow:1px 1px 2px 1px #848484;
  margin: 10px;
  padding: 15px;
}
nav h2 {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}
nav form {
  width:350px;
  margin-left: auto;
  margin-right: auto;
}
nav form div {
  margin-bottom: 15px;

}
nav form div>label {
  display: inline-block;
  text-align: right;
  width: 150px;
}
nav form div>p {
  color:#ccc;
  margin-left:  42%;
}

nav form div>textarea {
  width: 50%;
}

nav form .persondis>label {
  vertical-align: top;
}
nav button {
  width: 100%;
  background-color: #3355D0;
  color:#ffffff;
  height: 50px;
  font-size: 1.2em;
  border-radius: 15px;
}
footer {
  width: 100%;
  height: 10%;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 0.8em;
}
footer p {
  padding-top: 20px;
}
