article{
    float:left;
    width:100%;
    height:500px;
}
figure{
    position:relative;
    width:400px;
    height:180px;
    margin:0 0 0 50%;
    top:160px;
    left:-200px;
    box-sizing:border-box;
    background:url(bg.jpg);
    border-radius:5px;
}
figure>div{
    position:relative;
    width:320px;
    height:120px;
    top:30px;
    left:40px;
    box-sizing:border-box;
}
div>div{
    position:relative;
    width:320px;
    height:120px;
}
div>a{
    display:block;
    position: relative;
    text-align:center;
    line-height:120px;

  /*文字的上浮淡出*/
    top:14px;
    opacity:0;/*透明*/
    -webkit-transition:opacity 0.3s linear,top 0.3s linear;
    transition:opacity 0.3s linear,top 0.3s linear;

    /*文字颜色流光渐变*/
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-image:-webkit-linear-gradient(left,red,green 25%,yellow 50%,green 75%,red 100%);
    background-size:200% 100%;
}
/*流光渐变动画*/
@keyframes gradient{
    from{background-position:0% 0%;}
    to{background-position:-100% 0%;}
}

figure:hover a{
    top:0;
    opacity:1;
    animation:gradient 3s linear infinite;
}
/*背景模糊*/
figure::before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:url(bg.jpg);
    border-radius:5px;
    -webkit-transition:filter 0.3s linear;
    transition:filter 0.3s linear;
}
figure:hover::before{
    filter:blur(5px);
}

/*边框扩展*/
.top-bottom::before,
.top-bottom::after{
    content:'';
    position:absolute;
    box-sizing:border-box;
}
.top-bottom::before{
    width:100%;
    height:0;
    top:50%;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    -webkit-transition:height 0.3s linear,top 0.3s linear;
    transition:height 0.3s linear,top 0.3s linear;
}
article figure:hover .top-bottom::before{
    height:100%;
    top:0;
}
.top-bottom::after{
    width:0;
    height:100%;
    top:0;
    left:50%;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    -webkit-transition:width 0.3s linear,left 0.3s linear;
    transition:width 0.3s linear,left 0.3s linear;
}
article figure:hover .top-bottom::after{
    width:100%;
    left:0;
}
